.cover_img {
  margin-top: -20px;
  padding: 150px 0;
  background: url(../images/about.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 4em;
  font-family: simplex;
  font-weight: bold;
  text-shadow: 1px 0 #000;
}

#textarea {
  padding: 60px 15%;
  p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #textarea {
    padding: 20px 0;
    p {
      font-size: 1.2em;
    }
  }
}