.cover_img {
  margin-top: -20px;
  padding: 150px 0;
  background: url(../images/about.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 4em;
}

#textarea {
  padding: 60px 15%;
  p {
    font-size: 1.5em;
  }
}
