.cover_img {
  margin-top: -20px;
  padding: 300px 0;
  background: url(../images/activities.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 3em;
  font-family: simplex;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  margin-bottom: -60px;
}
