.cover_img {
  margin-top: -20px;
  padding: 50px 0;
  background: url(../images/labmu/map-dark.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 4em;
  // text-shadow: 1px 0 #000;
  #logo-holder {
    width: 250px;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    img {
      width: 100%;
      z-index: 1;
    }
  }
}

#textarea {
  padding: 60px 15%;
  p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #textarea {
    padding: 20px 0;
    p {
      font-size: 1.2em;
    }
  }
}