$navbackcolor: '#f3f3f3';
$navcolor: #aaa;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$sidebar-width: 400px;

@font-face {
    font-family: bgothm;
    src: url(../ref/fonts/bgothm.ttf);
}

@font-face {
    font-family: simplex;
    src: url(../fonts/simplex.ttf);
    font-weight: bold;
}

.navbar {
	padding: 15px 0;
	width: 100%;
	.navbar-header > a{
		font-family: bgothm;
		font-size: 2em;
	}
	.nav > li > a {
		color: $navcolor;
		font-family: simplex;
		font-weight: bold;
		font-size: 1.3em;
		&:hover {
			color: #000;
		}
	}

	.nav > .active {
		background: none;
		color: #000;
		a,
		a:hover,
		a:focus {
			background: none;
			color: #000;
		}
	}
}
