$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower

$sidebar-width: 400px;

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navtree {
  z-index: 100;
  position: fixed;
  overflow: hidden;
  top: $navbar-height;
  left: 0;
}

.scroll {
  height: 500px;
  width: 500px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  ul {
    li {
      border: 1px solid gray;
    }
    border: 1px solid gray;
  }
}

/* Custom page footer */
.footer {
  font: 30px/500px "Microsoft Yahei";
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin: auto;
  }
}

.section {
  margin-left: $sidebar-width;
  padding-top: $navbar-height;
}

h1:target,
h2:target {
  padding-top: $navbar-height;
}

.intro {
  font-family: 'Futura-Condensed-Normal';
  text-align: center;
  font-size: 100px;
  margin-left: 24%;
  border-bottom: 5px solid;
  width: 37%;
}

.slogan {
  font-family: 'Futura';
  text-align: center;
  font-size: 60px;
  margin-left: -15%;
}

.name {
  font-family: 'Futura';
  text-align: center;
  font-size: 65px;
  margin-left: -15%;
}

.detail {
  margin-left: 30%;
  font-family: 'Calibri';
}

.subtitle {
  font-family: 'Futura';
  width: 60%;
  font-size: 70px;
  margin-bottom: 60px;
}

.content {
  width: 60%;
  font-size: 30px;
}


/*styles in projects page*/

.textarea {
  font-family: 'Futura';
  width: 44%;
  text-align: center;
  margin-top: -20%;

  .p1 {
  font-size: 95px;
  }

  .p2 {
  font-size: 57px;
  }
}

.pro {
  margin-left: 25%;
}

.ptitle {
  font-family: 'Futura';
  width: 70%;
  font-size: 70px;
}

.psubtitle {
  font-family: 'Futura';
  width: 70%;
  font-size: 30px;
}

.details {
  width: 70%;
  font-size: 25px;
  font-family: 'Calibri Light';
}

.session {
  .intro {
    font-family: 'Futura';
    text-align: center;
    font-size: 100px;
    margin-left: 22%;
    border-bottom: 5px solid;
    width: 42%;
  }
}