$figbackcolor: #f9f9f9;

@font-face {
    font-family: helvetica;
    src: url(../fonts/helveticaneueltstd-th.otf)
}

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// @mixin background ($folder:mw, $img:file, $type:png) {
//     background-image: url(../imgs/#{$folder}/#{$img}.#{$type}) no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     -o-background-size: cover;
// }

@mixin backgroundm  {
  text-decoration: none;
  background-size: 0 0;
  color: white;
  display: inline-block;
  position: relative;
  background-color: $figbackcolor;
  z-index: 1;
  &:before {
    background-image: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $figbackcolor;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity 100ms ease-in 240ms;
    transition: opacity 100ms ease-in 240ms;
  }
  &:hover:before {
    opacity: 1;
  }
}

.img_box {
  border-top: 1px solid #bbb;
  font-family: helvetica;
}

.video_box {
  // position:relative;
  // z-index: -1;
  margin-top: -20px;
}

.text_box {
  margin: 5% 0;
  .mwtitle {
    font-size: 4em;
  }
  .mwtitle2 {
    font-size: 2.2em;
  }
  .textarea {
    font-size: 1.5em;
  }
  // padding: 50px 0;
  // padding-bottom: 300px;
}

.sax > a {
  background: url(../images/mw/sax1.jpg) no-repeat center center;
  @include backgroundm
}

.harp > a {
  background: url(../images/mw/harp1.jpg) no-repeat center center;
  @include backgroundm
}

.xylophone > a {
  background: url(../images/mw/xylo1.jpg) no-repeat center center;
  @include backgroundm
}

.sax, .harp, .xylophone {
  a {
    padding: 150px 0;
    width: 100%;
  }
}

.saxtext, .xytext, .harptext {
  color: black;
  font-size: 3em;
  // padding-bottom: 10px;
  // border-bottom: 3px solid black;
}