$figbackcolor: #f9f9f9;

@font-face {
    font-family: helvetica;
    src: url(../fonts/helveticaneueltstd-th.otf)
}

@mixin backgroundm  {
  text-decoration: none;
  background-size: 0 0;
  color: white;
  display: inline-block;
  position: relative;
  background-color: $figbackcolor;
  z-index: 1;
  &:before {
    background-image: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $figbackcolor;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
  }
  &:hover:before {
    opacity: 1;
  }
}

.img_box {
  border-top: 1px solid #bbb;
  font-family: helvetica;
}

.video_box {
  // position:relative;
  // z-index: -1;
  margin-top: -20px;
}

.text_box {
  margin: 5% 0;
  .mwtitle {
    font-size: 4em;
  }
  .mwtitle2 {
    font-size: 2.2em;
  }
  .textarea {
    font-size: 1.5em;
  }
  // padding: 50px 0;
  // padding-bottom: 300px;
}

.sax > a {
  background: url(../images/mw/sax1.jpg) no-repeat center center;
  @include backgroundm
}

.harp > a {
  background: url(../images/mw/harp1.jpg) no-repeat center center;
  @include backgroundm
}

.xylophone > a {
  background: url(../images/mw/xylo1.jpg) no-repeat center center;
  @include backgroundm
}

.sax, .harp, .xylophone {
  a {
    padding: 150px 0;
    width: 100%;
  }
}

.saxtext, .xytext, .harptext {
  color: black;
  font-size: 3em;
  // padding-bottom: 10px;
  // border-bottom: 3px solid black;
}

@media screen and (max-width: 480px) {
  .sax, .harp, .xylophone {
    font-size: 0.6em;
    a {
      padding: 80px 0;
      width: 100%;
    }
  }
  .text_box {
    .mwtitle {
      font-size: 2.5em;
    }
    .mwtitle2 {
      font-size: 1.4em;
    }
    .textarea {
      font-size: 1.1em;
    }
  }

}